
@{
    ViewData["Title"] = "GetProduct";
}

<h1>lấy dữ liệu từ addproduct dạng obj</h1>
<div class="alert alert-danger">
    <p>id: @ViewBag.product.Id</p>
    <p>name: @ViewBag.product.Name</p>

</div>

