@*
   
*@
@{
    ViewData["Title"] = "Product .............";
}
<h1>Index của controller</h1>
<hr />
<h2>View bag: @ViewBag.product</h2>
<h2>View data: @ViewData["ProductVD"]</h2>
<h2>temp data: @TempData["messageVD"]</h2>/
