@model Lab03.Models.Book
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form action="" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title">tên sách</label>
        <input  type="text" class="form-control" asp-for="Title" placeholder="Tên Sách"/>
    </div>
    <div class="form-group">
        <label asp-for="GenerId"> Thể loại</label>
        <select asp-for="GenerId" class="form-control" asp-items="@ViewBag.Genres">
            <option value="">Thể loại</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Genres"> Author</label>
        <select asp-for="AuthorId" class="form-control" asp-items="@ViewBag.Authors">
            <option value="">Chọn Tác Giá</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Price"> Price</label>
        <input type="text" class="form-control" asp-for="Price" placeholder="Price">
    </div>
    <div class="form-group">
        <label asp-for="TotalPage"> tổng trang </label>
        <input type="text" class="form-control" asp-for="TotalPage" placeholder="TotalPage">
    </div>
    <div class="form-group">
        <label asp-for="Image"> Hình ảnh Poster</label>
        <input type="file" class="form-control" asp-for="Image">
    </div>
    <div class="form-group">
        <label asp-for="Summary">GT ngắn</label>
        <textarea type="text" class="form-control" asp-for="Summary" placeholder="Nội dung ...."></textarea>
    </div>
    <button type="submit" class="btn btn-primary"> Lưu lại</button>
</form>
